<!DOCTYPE html>
<html ng-app="nytApp">
  <head>
    <meta charset="utf-8">
    <title>NYTimeless | History on the Front Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="https://static01.nyt.com/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English:400i|Special+Elite" rel="stylesheet">
  </head>
  <body ng-controller="mainCtrl">

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 id="hone" class="display-1">New York Time(less)</h1><span id="htwo" class="lead">Put History on the Front Page</span>
          </div>
<div class="space">

</div>
<div id="text-carousel" class="carousel align-middle slide" data-ride="carousel">
    <div class="row align-middle">
        <div class="col-xs-offset-4 col-xs-4 align-middle">
            <div class="carousel-inner align-bottom">
                <div class="item active align-bottom">
                    <div class="carousel-content text-center">
                        <div>
                            <p>content from 1851 to the moon landing</p>
                        </div>
                    </div>
                </div>
                <div class="item align-bottom">
                    <div class="carousel-content text-center align-bottom">
                        <div>
                        <!-- </br> -->
                            <p>history at your fingertips</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content text-center align-bottom">
                        <div>
                        <!-- </br> -->
                            <p>experience the news of a bygone era</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content text-center align-bottom">
                        <div>
                        <!-- </br> -->
                            <p>no current news distraction</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row content-center">
  <form type="submit" class="col-sm-offset-3 col-sm-6" ng-submit="searchArticles(input)">
    <div class="input-group">
    <input ng-model="input" type="text" class="form-control" placeholder="What interests you?">
      <span class="input-group-btn">
        <button class="btn btn-default">
          <img class="img-responsive" src="images/pointing_hand.svg" alt="Click To Discover"/>
        </button>
      </span>
          </div>
    </form>
  </div>
  <div class="thumb-container">
  <div ng-repeat="article in articles" class="col-xs-3 col-md-3">
    <a href="#" class=" thumbnail">
      <img src="images/nyt.png" alt="NO">
      <div class="caption">
        <p class="text-center">{{article.pub_date | limitTo:4 }}</p>
    <h3>{{article.headline.main}}</h3>
    <p>{{article.snippet | limitTo: 150}}...</p>
    <button ng-click="favoriteArticle(article)"type="button" class="btn btn-info" name="button"><span class="glyphicon glyphicon-star align-center"></span></button>
    <!-- <button ng-click="removeArticle(article)"type="button" class="btn btn-danger" name="button"><span class="glyphicon glyphicon-remove align-center"></span></button> -->
  </div>
    </a>
  </div>
</div>

<script  src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="mainCtrl.js" type="text/javascript"></script>
 </body>
</html>
